[package]
name = "ncspot"
description = "ncurses Spotify client written in Rust using librespot, inspired by ncmpc and the likes."
exclude = ["screenshots/**"]
version = "0.1.0"
authors = ["Henrik Friedrichsen <henrik@affekt.org>"]
repository = "https://github.com/hrkfdn/ncspot"
keywords = ["spotify", "ncurses", "librespot"]
license = "BSD-2-Clause"

[badges]
travis-ci = { repository = "hrkfdn/ncspot", branch = "master" }
maintenance = { status = "experimental" }

[dependencies]
clap = "2.32.0"
chrono = "0.4"
reqwest = "0.9.11"
crossbeam-channel = "0.3.8"
directories = "1.0"
failure = "0.1.3"
fern = "0.5"
futures = "0.1"
log = "0.4.0"
#rspotify = "0.4.0"
serde = "1.0"
serde_json = "1.0"
toml = "0.4"
tokio = "0.1.7"
tokio-core = "0.1"
tokio-timer = "0.2"
unicode-width = "0.1.5"
dbus = { version = "0.6.4", optional = true }
rand = "0.6.5"
webbrowser = "0.5"

[dependencies.rspotify]
git = "https://github.com/KoffeinFlummi/rspotify"
rev = "9d6c544"

[dependencies.librespot]
git = "https://github.com/librespot-org/librespot.git"
rev = "14721f4"
default-features = false

[dependencies.cursive]
version = "0.11.1"
default-features = false

[dependencies.winapi]
git = "https://github.com/overdrivenpotato/winapi-rs"

[features]
pulseaudio_backend = ["librespot/pulseaudio-backend"]
rodio_backend = ["librespot/rodio-backend"]
portaudio_backend = ["librespot/portaudio-backend"]
termion_backend = ["cursive/termion-backend"]
mpris = ["dbus"]
default = ["rodio_backend", "mpris", "cursive/pancurses-backend"]
