[package]
name = "ncspot"
description = "ncurses Spotify client written in Rust using librespot, inspired by ncmpc and the likes."
exclude = ["screenshots/**"]
version = "0.6.0"
authors = ["Henrik Friedrichsen <henrik@affekt.org>"]
repository = "https://github.com/hrkfdn/ncspot"
keywords = ["spotify", "ncurses", "librespot", "terminal"]
license = "BSD-2-Clause"
readme = "README.md"
edition = "2018"

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
clap = "2.33.0"
chrono = "0.4"
reqwest = "0.9"
crossbeam-channel = "0.5"
platform-dirs = "0.3.0"
failure = "0.1"
fern = "0.6"
futures = { version = "0.3", features = ["compat"] }
futures_01 = { version = "0.1", package = "futures" }
lazy_static = "1.3.0"
librespot-core = "0.1.6"
librespot-playback = "0.1.6"
librespot-protocol = "0.1.6"
log = "0.4.13"
notify-rust = { version = "4", optional = true }
rspotify = { version = "0.10.0", features = ["blocking"] }
serde = "1.0"
serde_json = "1.0"
toml = "0.5"
tokio-core = "0.1"
tokio-timer = "0.2"
unicode-width = "0.1.8"
dbus = { version = "0.9.2", optional = true }
dbus-tree = { version = "0.9.0", optional = true }
rand = "0.8"
webbrowser = "0.5"
clipboard = { version = "0.5", optional = true }
url = "1.7"
strum = "0.20.0"
strum_macros = "0.20.1"
libc = "0.2"
regex = "1"
ioctl-rs = { version = "0.2", optional = true }
serde_cbor = "0.11.1"

[dependencies.cursive]
version = "0.16.3"
default-features = false

[features]
share_clipboard = ["clipboard"]
share_selection = ["clipboard"] # Use the primary selection for sharing - linux only
alsa_backend = ["librespot-playback/alsa-backend"]
pulseaudio_backend = ["librespot-playback/pulseaudio-backend"]
rodio_backend = ["librespot-playback/rodio-backend"]
portaudio_backend = ["librespot-playback/portaudio-backend"]
termion_backend = ["cursive/termion-backend"]
mpris = ["dbus", "dbus-tree"]
notify = ["notify-rust"]
cover = ["ioctl-rs"]
default = ["share_clipboard", "pulseaudio_backend", "mpris", "notify", "cursive/pancurses-backend"]

[package.metadata.deb]
depends = "$auto, pulseaudio"
section = "sound"
priority = "optional"
extended-description = """\
ncurses Spotify client written in Rust using librespot. \
It is heavily inspired by ncurses MPD clients, such as ncmpc."""
license-file = ["LICENSE"]
assets = [
    ["target/release/ncspot", "usr/bin/", "755"],
    ["README.md", "usr/share/doc/ncspot/README.md", "644"],
]
