name: update-rust-toolchain
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '0 9 * * wed' # runs at 9 am on every wednesday

jobs:
  update-rust-toolchain:
    name: "Update Rust Toolchain (rust-toolchain.toml)"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: update rust toolchain
        uses: a-kenji/update-rust-toolchain@v1.1
        with:
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          toolchain-path: ./rust-toolchain.toml
          commit-msg: 'chore(toolchain): update'
          pr-title: 'chore(toolchain): update'
